



<!DOCTYPE html>
<html>
<head>
	<title>Ravinder Singh</title>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123322969-8"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-123322969-8');
	</script>
	
	<link href="/staticfiles/css/main.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="/staticfiles/images/ravi4.jpg" >
					<hr>
					<h4 class='text-primary'>Hi I'm Ravinder!</h4>
					<p class='text-success'>PYTHON DJANGO ENTHUSIAST</p>
					<a target="_blank" href="https://drive.google.com/open?id=1r-t1syFYZ9ZTBKp_TwkQ1nZNyycagt0S">
						<button type="button" class="btn btn-primary">Resume</button>
					</a>
				</div>
			</div>

			<div class="col-lg-9">
				<div class="card card-body h-100  border-info">
					<h4 class="text-info">My First Job as a Developer</h4>
					<hr>
					<h5 class='text-primary'>Fellafeeds Pvt. Ltd. Gurgaon</h5>
					<p>3 months after writing my first Hello World program on September 8th 2017 (While working in the marketing department) I had convinced my boss to let me take a stab at building a better version of the outdated laboratory management system my company was running on.

					</p>

					<p>Before I knew it we transitioned from the old system and we're on to mine. My newbie self was now in charge of hosting hundreds of thousands of lab samples and supporting thousands of clients.</p>

					<p>I’m someone that jumps before I can talk myself out of doing something scary.</p>

					<a href="https://drive.google.com/open?id=1GwlyZ7xinQwVK9njMJSLa2BcYrUrkbP3">Certificate</a>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6 ">
				<div class="card card-body h-100 border-info">
					<h5 class="text-info">My Industrial Training</h5>
					<hr>
					<p class='text-primary'>IBM (MAY_JUNE 2016)</p>
					<p>Project Description : In this training, while developing this project I get to learned about some advanced
						Java concepts including JDBC, Collection Framework and also learnt how to Implement SQL queries.</p>
						<a href="https://drive.google.com/open?id=11S40gETkrfNx2_PBgz8jftKA0haSWVc5">Certificate</a>

					</div>
			</div>

			<div class="col-lg-6 ">
				<div class="card card-body h-100 border-info">
					<h5 class="text-info">What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres, AWS and APIs such as google maps, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on Node JS, Mongo DB and Machine Learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6">
				<div class="card card-body h-100 border-info">
					<h5 class="text-info">How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="card card-body h-100 border-info">
					<h5 class="text-info">My Short Term Goals</h5>
				<hr>
				<p>After almost two years of supporting my system at the lab I’m ready to learn something new. I love collaborating and sharing my experience with others on my blog & youtube channel.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-6">
				<div class="card card-body h-100 border-info">
					<h5 class="text-info">My Certificate and achivements</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>
					<ul class="social-links">
						<li>Attended data structure course on GeeksforGeeks. <a target="_blank" href="https://drive.google.com/open?id=17GXNkM9awcR-TFUI1S_eZ1BkVeOsnn6t">Verify</a></li>

						<li>Completed c++ certification on Udemy.<a target="_blank" href="https://drive.google.com/open?id=1Bajm0WKV0HfYqLjmUhU93EukHW0E6LaK">Verify</a></li>

						<li>Completed python certification fromMysirg.comy <a target="_blank" href="https://drive.google.com/open?id=1YDRWL8Rnd9KVWC-FXtOtmbPGG8ISExAH">Verify</a></li>
						<li>Completed Django course from Mysirg.com <a target="_blank" href="https://drive.google.com/open?id=1aP_2epfXnrOk3xUSzkXMyK6qLm5tksiO">Verify</a></li>

						<li>Achieve the certificate of excellence from Chandigarh university <a target="_blank" href="https://drive.google.com/open?id=11RIBTUd9vqfKzya7tZMS0XrN7r5NZvqJ">Verify</a></li>
						
					</ul>

					
				</div>
			</div>

			<div class="col-lg-6">
				<div class="card card-body h-100 border-info">
					<h5 class="text-info">My Short Term Goals</h5>
				<hr>
				<p>After almost two years of supporting my system at the lab I’m ready to learn something new. I love collaborating and sharing my experience with others on my blog & youtube channel.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>
	
	
</body>
</html>
